@import 'main';
@import 'partials/header';
@import 'partials/footer';

@import 'components/main-nav';
@import 'components/socials';
@import 'components/headline';
@import 'components/buttons';

@import 'pages/home-page';
@import 'pages/address-page';
@import 'pages/contact-page';
@import 'pages/about-page';
