header {
    .header-inner {
        display: flex;
        align-items: center;
    }

    .logo {
        img {
            height: 2em;
        }
    }

    menu {
        flex: 3;
        margin-left: 2em;
    }

    form {
        justify-self: flex-end;
        position: relative;
        

        input {
            padding: 0 1.5em 0 0.5em;
            width: 12em;
            height: 1.8em;
            border-radius: 0;
            font-size: 1em;
            border: 1px solid #000;
            transition: box-shadow 0.3s;

            &:focus {
                outline: none;
                box-shadow: 0 0 0.5em rgba($color: #000000, $alpha: 0.3);
            }
        }

        button {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            padding: 0 0.5em 0 0.2em;
            height: 1.8em;
            background: none;
            border: 0;
            font-size: 1em;
            cursor: pointer;
        }
    }
}