header {
    .header-inner {
        position: relative;
        display: flex;
        align-items: center;
    }

    .logo {
        img {
            height: 2em;
        }
    }

    .navicon {
        display: none;
        font-size: 1.7em;

        + input[type=checkbox] {
            display: none;
        }
    }

    menu {
        flex: 3;
        margin-left: 2em;

        &.mobile {
            display: none;
        }
    }

    form {
        justify-self: flex-end;
        position: relative;
        

        input {
            padding: 0 1.5em 0 0.5em;
            width: 12em;
            height: 1.8em;
            border-radius: 0;
            font-size: 1em;
            border: 1px solid #000;
            transition: box-shadow 0.3s;

            &:focus {
                outline: none;
                box-shadow: 0 0 0.5em rgba($color: #000000, $alpha: 0.3);
            }
        }

        button {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            padding: 0 0.5em 0 0.2em;
            height: 1.8em;
            background: none;
            border: 0;
            font-size: 1em;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 600px) {
    header {
        .header-inner {
            justify-content: space-between;

            .navicon {
                display: block;
            }

            menu {
                &.desktop {
                    display: none;
                }

                &.mobile {
                    display: block;
                    right: -100%;
                    transition: right 0.3s;
                }
            }

            input[type=checkbox]:checked + menu.mobile {
                right: 0;
            }
        }
    }
}