menu {
    &.desktop {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            display: inline-block;
            margin-left: 3em;

            a {
                text-decoration: none;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 1em;
                color: #000;

                &:hover {
                    color: #00ad3e;
                }
            }
        }
    }

    &.mobile {
        position: absolute;
        top: 100%;
        right: 0;
        margin: 0;
        padding: 0;
        width: 10em;
        list-style: none;
        background-color: #fff;
        border: 1px solid #000;

        li {
            border-bottom: 1px solid #000;

            &:last-child {
                border-bottom: 0;
            }

            a {
                display: block;
                padding: 0.4em 0.5em;
                text-decoration: none;
                color: #000;
            }
        }
    }
}
