.socials {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        display: inline-block;
        margin-left: 1em;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2em;
            height: 2em;
            border: 1px solid #007900;
            border-radius: 50%;
            background-color: #007900;
            text-decoration: none;
            color: #fff;
            transition: all 0.3s;

            &:hover {
                background-color: #fff;
                color: #007900;
            }

            i {
                font-size: 1.2em;
            }

            
        }
    }
}