.about-page {
    flex-wrap: wrap;
    
    .headline {
        margin-bottom: 0.3em;
        width: 100%;
    }

    .content-text {
        padding-right: 5em;
        width: 70%;
        line-height: 1.4;
        font-size: 1em;
        text-align: justify;
        color: #333;

        p {
            margin-top: 0;
        }
    }

    figure {
        margin: 0;
        width: 30%;
        height: 18em;
        overflow: hidden;
        
        img {
            width: 100%;
        }
    }
}

@media screen and (max-width: 600px) {
    .about-page {
        .content-text, figure {
            padding: 0;
            width: 100%;
        }

        figure {
            margin-top: 2em;
            height: 25em;
        }
    }
}