.address-page {
    flex-wrap: wrap;

    h3 {
        margin-bottom: 0.5em;
        width: 100%;
    }

    .address-list {
        margin: 0;
        padding: 0;
        width: 40%;
        list-style: none;

        li {
            margin: 0 0 1.2em 0;
            background-color: #fff;
            box-shadow: 0 0 0.5em rgba($color: #000000, $alpha: 0.3);
            cursor: pointer;
            transition: box-shadow 0.3s;

            &:hover {
                box-shadow: 0 0 0.5em rgba($color: #000000, $alpha: 0.7);
            }

            h4 {
                margin: 0;
                padding: 0.3em 0.6em;
                background-color: #00ad3e;
                border-bottom: 3px solid #007900;
                font-size: 1em;
                color: #fff;
            }

            dl {
                display: flex;
                flex-wrap: wrap;
                padding: 0 0.5em 0.5em;
                font-size: 0.9em;

                dt, dd {
                    display: block;
                    margin-top: 0.5em;
                    line-height: 1.2;
                }

                dt {
                    width: 20%;
                    white-space: nowrap;
                    font-weight: bold;
                }
                dd {
                    margin-left: 0;
                    width: 80%;
                }
            }
        }
    }

    .map-wrapper {
        width: 60%;
        padding-left: 5em;

        figure {
            margin: 0;
            overflow: hidden;

            img {
                width: 100%;
                height: 16em;
            }
        }

        .map {
            visibility: hidden;
            height: 0;
            overflow: hidden;

            &-visible {
                visibility: visible;
                height: auto;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .address-page {
        .address-list, .map-wrapper {
            width: 100%;
        }

        .address-list {
            display: flex;
            flex-wrap: wrap;
            border: 1px solid #007900;

            li {
                margin-bottom: 0;
                width: 50%;
                box-shadow: none;

                &:hover {
                    box-shadow: none;
                }

                &:nth-child(even) {
                    border-left: 1px solid #007900;
                }

                dl {
                    display: block;

                    dt, dd {
                        display: inline-block;
                        width: auto;
                    }

                    dt {
                        margin-right: 0.5em;
                    }
                    dd {
                        min-width: 60%;
                    }
                }
            }
        }

        .map-wrapper {
            margin-top: 2em;
            padding-left: 0;
        }
    }
}