.contact-page {
    display: flex;
    flex-wrap: wrap;

    .headline {
        margin-bottom: 0.5em;
        width: 100%;
    }
    form {
        width: 70%;

        .form-group {
            margin-bottom: 0.7em;
            width: 25em;
        }

        input, textarea, button {
            font-size: 1em;
        }

        input, textarea {
            border-radius: 0;
            border: 1px solid #000;
            background-color: #fff;
            color: #333;

            &:focus {
                outline: none;
                border-width: 2px;
                border-color: #007900;
            }
        }

        input {
            padding: 0 0.3em;
            width: 100%;
            height: 2em;
            
        }

        textarea {
            padding: 0.3em;
            width: 100%;
            height: 7em;
        }

        button {
            width: 10em;
        }
    }
    figure {
        margin: 0;
        width: 30%;
        height: 18em;
        overflow: hidden;
        
        img {
            width: 100%;
        }
    }
}

@media screen and (max-width: 600px) {
    .contact-page {
        form, figure {
            width: 100%;
        }

        form {
            .form-group {
                width: 100%;
            }
        }

        figure {
            margin-top: 2em;
            height: 25em;
        }
    }
}