.home-page {
    .intro {

        h1, h2 {
            margin: 0;
            font-family: "Bodoni Moda", sans-serif;
            line-height: 1;
            color: #00ad3e;
        }

        h1 {
            margin-top: 0.3em;
            font-size: 7em;
        }

        h2 {
            margin-top: 0.2em;
            font-size: 1.7em;
            text-align: center;
            text-transform: uppercase;
            color: #007900;
        }
    }
    .pic {
        figure {
            position: relative;
            margin: 0;
            height: 20em;
            overflow: hidden;
            border-top-left-radius: 2em;
            border-top-right-radius: 2em;
            box-shadow: 0 0 0.2em rgba($color: #000000, $alpha: 0.3);

            img {
                width: 100%;
            }

            figcaption {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                padding: 0.3em 1em;
                background-color: #00ad3e;
                text-transform: uppercase;
                font-weight: 500;
                text-align: center;
                color: #fff;
            }
        }
    }
}